# =====================
# ANGULAR
# =====================
node_modules/
dist/
.angular/

# =====================
# .NET
# =====================
.vs/
bin/
obj/

# =====================
# SYMFONY
# =====================
vendor/
var/
.env.local


# =====================
# OS
# =====================
.DS_Store
Thumbs.db
