# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:

    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\Repository\admin\AdministrateurRepositoryInterface:
        alias: App\Repository\admin\AdministrateurRepository

    App\Repository\admin\DashboardRepositoryInterface:
        alias: App\Repository\admin\DashboardRepository

    App\Repository\auth\UserRepositoryInterface:
        alias: App\Repository\auth\UserRepository

    App\Repository\client\ClientRepositoryInterface:
        alias: App\Repository\client\ClientRepository

   
